<div class="container py-3">

  <div class="row" *ngIf="gooditem">

    <div class="col-md-8 mb-5 mr-auto ml-auto">
      <div class="card border-0 shadow ">

        <a href="{{gooditem.picURL}}" class="elem d-block mb-1 h-100" title="{{gooditem.name}}">
          <img src="{{gooditem.picURL}}" class="card-img-top img-thumbnail" alt="...">
        </a>
        <div class="card-body m-0 p-3">
          <h3 class="card-title mb-0"><i>Name:</i> {{gooditem.name}}</h3>
          <h6><i>Description:</i> {{gooditem.description}}</h6>
          <h4><i>Price:</i> {{gooditem.price|currency: 'USD':'symbol-narrow':'1.2-2'}}</h4>
        </div>

      </div>
    </div>

  </div>
  <div class="text-center mb-4" *ngIf="gooditem">
    <h4>Are you really want to delete?</h4>
    <button (click)="ondelete()" class="btn btn-danger">Yes Delete</button>
  </div>
  <button #butback routerLink="/catalog" class="btn btn-block btn-primary">No way. Bring me Back</button>
</div>

